<!-- <nz-header class="header-wrapper">
  <div class="d-flex align-items-center justify-content-between">
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item nzSelected>
        <nz-icon nzType="calendar" nzTheme="outline" />
        Event Management
      </li>
      <li nz-menu-item>
        <nz-icon nzType="appstore" />
        <span class="text"> About Us</span>
      </li>

      <li nz-menu-item>
        <nz-icon nzType="phone" nzTheme="outline" />
        <span class="text">Contact Us</span>
      </li>
    </ul>
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <nz-icon nzType="calendar" nzTheme="outline" />
      <span class="text"> {{currentDate | date:'dd/MM/yyyy'}}</span>
      <li nz-menu-item>
        <nz-avatar [nzSize]="24" nzText="U" nzOffset="32px" style="color:#f56a00; background-color:#fde3cf;"
          [style.top]="'-2px'" class="position-relative"></nz-avatar>
      </li>
      <button nz-button nzType="primary" nzShape="circle">
        <nz-icon nzType="notification" />
      </button>
      <nz-badge [nzDot]="true" [style.top]="'-5px'" class="position-relative">
      </nz-badge>
      <li nz-menu-item>
        <nz-tag nzColor="success">PRO</nz-tag>
      </li>
    </ul>
  </div>
</nz-header> -->
<nz-header class="header-wrapper">
  <div class="d-flex align-items-center justify-content-between">

    <button nz-button nzType="text" class="mobile-menu-button" (click)="toggleMobileMenu()">
      <nz-icon nzType="menu" nzTheme="outline"></nz-icon>
    </button>

    <ul nz-menu nzMode="horizontal" nzTheme="dark" class="left-side desktop-menu">
      <li nz-menu-item nzSelected>
        <nz-icon nzType="calendar" nzTheme="outline" />
        Event Management
      </li>
      <li nz-menu-item>
        <nz-icon nzType="appstore" />
        <span class="text"> About Us</span>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="phone" nzTheme="outline" />
        <span class="text">Contact Us</span>
      </li>
    </ul>

    <ul nz-menu nzMode="horizontal" nzTheme="dark" class="right-side desktop-menu">
      <nz-icon nzType="calendar" nzTheme="outline"></nz-icon>
      <span class="text"> {{currentDate | date:'dd/MM/yyyy'}}</span>
      <li nz-menu-item avatar>
        <nz-avatar [nzSize]="24" nzText="U" nzOffset="32px"
          style="color:#f56a00; background-color:#fde3cf;"
          [style.top]="'-2px'" class="position-relative"></nz-avatar>
      </li>
      <button nz-button nzType="primary" nzShape="circle">
        <nz-icon nzType="notification"></nz-icon>
      </button>
      <nz-badge [nzDot]="true" [style.top]="'-5px'" class="position-relative"></nz-badge>
      <li nz-menu-item>
        <nz-tag nzColor="success">PRO</nz-tag>
      </li>
    </ul>

  </div>

</nz-header>
<nz-drawer
  [nzVisible]="isMobileMenuVisible"
  nzPlacement="left"
  nzClosable="true"
  (nzOnClose)="toggleMobileMenu()"
  [nzWidth]="250"
  [nzContent]="drawerContent"
>
</nz-drawer>

<ng-template #drawerContent>
  <ul nz-menu nzMode="inline" class="mobile-menu">
    <li nz-menu-item nzSelected>
      <nz-icon nzType="calendar" nzTheme="outline" />
      Event Management
    </li>
    <li nz-menu-item>
      <nz-icon nzType="appstore" />
      About Us
    </li>
    <li nz-menu-item>
      <nz-icon nzType="phone" nzTheme="outline" />
      Contact Us
    </li>
    <li nz-menu-item>
      <nz-icon nzType="setting" nzTheme="outline" />
    Settings
    </li>
    <li nz-menu-item>
      <nz-icon nzType="rocket" nzTheme="outline" />
    Profile
    </li>
  </ul>
</ng-template>
