.header-wrapper {
  padding: 8px 16px;
  // height: 42px !important;

  ul {
    line-height: 46px !important;
    .ant-menu-item-selected {
      color: #000;
      nz-icon {
        color: #000 !important;
      }
    }
  }

  @media (max-width: 924px) {
    .left-side.desktop-menu li:nth-child(n+2) {
      display: none;
    }

    .desktop-menu {

      span.text,
      nz-icon[nzType="calendar"] {
        display: none;
      }

      li {
        padding: 0 8px !important;
      }
    }
  }

  .mobile-menu-button {
    display: none;
  }

  @media (max-width: 768px) {
    .mobile-menu-button {
      display: inline-flex !important;
    }
  }

  @media (max-width: 425px) {
   li[avatar] , button[notif] , nz-badge {
    display: none;
   }
  }
}
