::ng-deep {
 .ant-upload-list-picture-card-container , .ant-upload-select , nz-date-picker {
  width: 100% !important;
 }
}
.upload-zone {
  nz-icon {
    font-size: 32px;
  }
  h4 {
    margin-top: 8px; font-weight: 500;
  }
}
