


<!-- <button nz-button (click)="toggleTheme()">تغییر تم</button> -->


  @if(showConfetti()) {
    <app-wellcome-confetti></app-wellcome-confetti>
  }

  @if(loading()) {
    <nz-skeleton [nzParagraph]="{ rows: 5 }" [nzTitle]="false" [nzActive]="true"></nz-skeleton>
  }

  @if(!loading()) {
    <div class="my-2 d-flex align-items-center">
      <button nz-button nzType="primary" (click)="openCreateModal()">
        <nz-icon nzType="plus" />
        Add Event
      </button>
      <div class="mx-4">
        <label>
          <span class="mx-2">Show only Public</span>
          <nz-switch [(ngModel)]="showOnlyPublic" (ngModelChange)="filterByPublic()"></nz-switch>
        </label>
      </div>
    </div>
  }


  @if(!loading() && tableData().dataSource.length < 1) {
    <nz-empty [nzNotFoundContent]="'No Events Found'"></nz-empty>
  }

  <nz-tabset>
    <nz-tab nzTitle="Table View">
      <ng-container *ngTemplateOutlet="masterTable"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="Grid View">
      <ng-container *ngTemplateOutlet="gridView"></ng-container>
    </nz-tab>
  </nz-tabset>

<!-- #region Table View -->
  <ng-template #masterTable>
    @if(!loading() && tableData().dataSource.length > 0) {
      <app-master-table [tableData]="tableData()" [showSearchInput]="true">

        <!-- Title & Primary Image  -->
        <ng-template colDef="title" let-dataItem="dataItem">
          <div class="d-flex align-items-center">
            <img
            nz-tooltip
            nzTooltipTitle="Click To View"
            nzTooltipPlacement="top"
            coverImage
            nz-image
            width="42px"
            height="42px"
            [nzSrc]="dataItem.primaryImageUrl"
            [alt]="dataItem.title + ' cover image'"
            nzSrc="error" [nzFallback]="fallbackImage"

          />
            <h5 class="mx-1">{{ dataItem.title }}</h5>
          </div>
        </ng-template>
        <!-- Start Date -->
        <ng-template colDef="startDateTime" let-dataItem="dataItem">
          <h5>{{ dataItem.startDateTime | date:'dd/MM/yyyy HH:mm' }}</h5>
        </ng-template>

        <!-- public private -->
         <ng-template colDef="isPublic" let-dataItem="dataItem">
            @if(dataItem.isPublic) {
            <nz-tag nzColor="green">
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>
              Public
            </nz-tag>
          } @else {
            <nz-tag nzColor="red">
            <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            Private
          </nz-tag>
          }
         </ng-template>

        <!-- Actions -->
        <ng-template colDef="actions" let-dataItem="dataItem">
          <button nz-button  nzShape="circle"  class="mx-2" nz-tooltip (click)="prepareToEditEvent(dataItem)"
          nzTooltipTitle="Click To Edit {{dataItem.title}}" >
            <nz-icon nzType="edit" nzTheme="outline" />
          </button>
          <button nz-button  nzShape="circle"  class="mx-2" nz-tooltip nzTooltipTitle="Click To View {{dataItem.title}} Info" (click)="eventInfoBtnClicked(dataItem)">
            <nz-icon nzType="info-circle" nzTheme="outline" />
          </button>
          <button nz-button nzShape="circle"  class="mx-2" nzDanger  nz-tooltip nzTooltipTitle="Click To Delete {{dataItem.title}}" (click)="deleteEventBtnClicked(dataItem.id)">
              <nz-icon nzType="delete" nzTheme="outline" />
          </button>
        </ng-template>
      </app-master-table>
    }
  </ng-template>
<!-- #endregion -->

<!-- #region Card (Grid) View -->
  <ng-template #gridView>
    <app-event-card-view
    (cardDeleteEmitter)="deleteEventBtnClicked($event.id)"
    (cardEditEmitter)="prepareToEditEvent($event)"
    (cardViewEmitter)="eventInfoBtnClicked($event)"
    [cardData]="tableData().dataSource"></app-event-card-view>
  </ng-template>
<!-- #endregion -->

